
@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container" style="padding-top: 160px; padding-bottom: 50px;">
    <ul class="breadcrumb Page-address">
        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home" style="margin-right: 10px"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active">Giới thiệu về chúng tôi</li>
    </ul>
    <a href="#" class="logo" style="width:100%;font-size:200px;text-align:center;"><span><i class="fas fa-dragon"></i> Cyber</span>shop</a>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; text-align: justify;'><span style="box-sizing: border-box; font-size: 15pt; color: #1E90FF;"><strong style="box-sizing: border-box; font-weight: bold;">K&iacute;nh ch&agrave;o Qu&yacute; kh&aacute;ch!</strong></span></p>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; text-align: justify;'><span style="box-sizing: border-box; font-size: 15pt;">Tiền th&acirc;n l&agrave; shop CyberShop được nhiều kh&aacute;ch h&agrave;ng biết đến l&agrave; một địa chỉ tin cậy trong việc t&igrave;m kiếm c&aacute;c sản phẩm IT độc đ&aacute;o dịch vụ trang tr&iacute;, modding v&agrave; l&agrave;m đẹp PC.... Thương hiệu CyberShop ra đời tr&ecirc;n cơ sở tập hợp c&aacute;c anh em c&oacute; chung đam m&ecirc; về c&aacute;c sản phẩm c&ocirc;ng nghệ, đặc biệt l&agrave; C&ocirc;ng nghệ th&ocirc;ng tin.</span></p>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; text-align: justify;'><br style="box-sizing: border-box;"><span style="box-sizing: border-box; font-size: 15pt;">&nbsp; &nbsp; Với Slogan: <strong style="box-sizing: border-box; font-weight: bold;"><span style="box-sizing: border-box; color: #1E90FF;">☆Thỏa đam m&ecirc; - &quot;Ph&ecirc;&quot; kh&aacute;ch h&agrave;ng☆</span></strong> <span style='color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 20px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>CyberShop</span>&nbsp; mong muốn mang lại những sản phẩm chất lượng tốt nhất, trải nghiệm mua sắm tuyệt vời nhất v&agrave; dịch vụ sau b&aacute;n h&agrave;ng tốt nhất tr&ecirc;n cơ sở lu&ocirc;n đặt m&igrave;nh v&agrave;o vị tr&iacute; v&agrave; suy nghĩ của kh&aacute;ch h&agrave;ng.</span></p>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; text-align: justify;'><br style="box-sizing: border-box;"><span style="box-sizing: border-box; font-size: 15pt;">&nbsp; &nbsp; <span style='color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 20px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>CyberShop</span> lu&ocirc;n mong muốn c&oacute; cơ hội phục vụ qu&yacute; kh&aacute;ch, được lắng nghe những đ&oacute;ng g&oacute;p v&ocirc; gi&aacute; của Qu&yacute; kh&aacute;ch để tập thể c&ocirc;ng ty ng&agrave;y c&agrave;ng ho&agrave;n thiện v&agrave; ph&aacute;t triển hơn.</span></p>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; text-align: justify;'><br style="box-sizing: border-box;"><span style="box-sizing: border-box; font-size: 15pt;">&nbsp; &nbsp; &nbsp; <strong style="box-sizing: border-box; font-weight: bold;"><span style="box-sizing: border-box; color: #1E90FF;">Ch&acirc;n th&agrave;nh cảm ơn Qu&yacute; kh&aacute;ch!</span></strong></span></p>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; text-align: justify;'><br style="box-sizing: border-box;"></p>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; text-align: justify;'><br style="box-sizing: border-box;"></p>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; text-align: justify;'><span style="box-sizing: border-box; font-size: 15pt;"><strong style="box-sizing: border-box; font-weight: bold;">Địa chỉ:</strong> 181 L&ecirc; Hồng Phong, P.7, Quận 10, TP.HCM.</span><br style="box-sizing: border-box;"><br style="box-sizing: border-box;"><span style="box-sizing: border-box; font-size: 15pt;"><strong style="box-sizing: border-box; font-weight: bold;">Điện Thoại:&nbsp;</strong>&nbsp;0777711670</span><br style="box-sizing: border-box;"><br style="box-sizing: border-box;"><span style="box-sizing: border-box; font-size: 15pt;"><strong style="box-sizing: border-box; font-weight: bold;">MỞ CỬA:</strong> 9h00 - 20h (Thứ 2-7), 9h00 - 18h (Chủ Nhật)</span></p>
    <h3 style='box-sizing: border-box; display: block; font-family: "Oswald", sans-serif; font-weight: normal; margin: 2em 0px 0.5em; line-height: 1.4; font-size: 1.57143em; color: rgb(51, 51, 51); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'><span style="box-sizing: border-box;">&nbsp;4. Quy định đổi sản phẩm mới :</span></h3>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'><span style="box-sizing: border-box; font-size: 17px;">- Qu&yacute; kh&aacute;ch sử dụng sản phẩm mua tại CyberShop 07 ng&agrave;y đầu ti&ecirc;n, nếu sản phẩm bị lỗi kĩ thuật được x&aacute;c định do nh&agrave; sản xuất v&agrave; kh&ocirc;ng bị vi phạm bảo h&agrave;nh v&agrave; đầy đủ c&aacute;c th&agrave;nh phần phụ kiện như l&uacute;c mua th&igrave; được đổi sản phẩm mới.</span></p>
    <p style='box-sizing: border-box; margin: 0px 0px 15px; color: rgb(51, 51, 51); font-family: "Oswald", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'><span style="box-sizing: border-box; font-size: 17px;">- Ch&uacute;ng t&ocirc;i kh&ocirc;ng &aacute;p dụng h&igrave;nh thức ĐỔI MỚI đối với c&aacute;c thiết bị như : m&aacute;y in, mực in, c&aacute;c thiết bị c&oacute; t&iacute;nh chất hao m&ograve;n&hellip;, &nbsp; &nbsp;hoặc sản phẩm bị mất bao b&igrave; hoặc bị trầy xước, r&aacute;ch, bẩn.</span></p>
    </section>
    @section scripts{
    <script>
				$('.owl-loader').owlCarousel({
					loop:true,
					autoplay:true,
					autoplayTimeout:3000,
					autoWidth:false,
					loop:true,
					margin:10,
					nav:true,
					responsive:{
						0:{
							items:1
						},
						600:{
							items:1
						},
						1000:{
							items:1
						}
					}
				});

				$('.home-item').owlCarousel({
					center:true,
					autoWidth:false,
					loop:true,
					dots: false,
					nav:true,
					responsive:{
						0:{
							items:1
						},
						600:{
							items:2
						},
						1000:{
							items:4
						}
					}
				});

				$( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
 				$( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
    </script>
        }