@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container" style="padding-top: 160px; padding-bottom: 150px;">
    <h3><i class="fas fa-user-circle" style="margin-right: 10px"></i>Quên mật khẩu</h3>
    <ul class="breadcrumb Page-address">
        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home" style="margin-right: 10px"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active">Quên mật khẩu</li>
    </ul>

    <div class="login col-md-12">
        <h1>Đăng nhập</h1>
        <div class="error" id="Post_Error">
            <ul>
                @Html.ValidationSummary(false, "", "alert alert-danger")
            </ul>
        </div>
            <h6>
                <input type="text" placeholder="Nhập email..." name="search" id="forgot_password"/>
            </h6>
            <h6>
                <button ng-click="FindPassword()">Tìm mật khẩu</button>
            </h6>
        <button class="second-btn" onclick="location.href = '/Home/Login';">Quay lại đăng nhập</button>
    </div>
</section>

@section scripts{
    <script>
        var x = document.getElementById("Post_Error");
        var list = x.getElementsByTagName("UL")[0];
        if (list.getElementsByTagName("LI")[0].innerHTML != "") {
            x.style.display = 'inline-block';
        } else {
            x.style.display = 'none';
        }
    </script>
}

