
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session.Add(CyberShop.Common.CommonConstantUser.URL_REFERRER, Request.Url);
}


<section class="container" style="padding-top: 160px; padding-bottom: 50px;">
    <div class="row home" style="margin: 0;">
        <div class="col-md-8">
            <div class="owl-carousel owl-theme owl-loader">
                <div class="item"><a href="#"><img src="/assets/img/slide_img_1.png"></a></div>
                <div class="item"><a href="#"><img src="/assets/img/slide_img_2.png"></a></div>
                <div class="item"><a href="#"><img src="/assets/img/slide_img_3.png"></a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row side-item">
                <div class="col-md-12" style="margin-bottom: 9px;"><a href="#"><img src="/assets/img/solid1.png"></a></div>
                <div class="col-md-12" style="margin-bottom: 9px;"><a href="#"><img src="/assets/img/solid2.png"></a></div>
            </div>
        </div>
        <div class="row bottom-item">
            <div class="col-md-4"><a href="#"><img src="/assets/img/solid3.png"></a></div>
            <div class="col-md-4"><a href="#"><img src="/assets/img/solid5.png"></a></div>
            <div class="col-md-4"><a href="#"><img src="/assets/img/solid4.png"></a></div>
        </div>
    </div>

    <div class="items-header">Sản phẩm giảm giá</div>
    <div class="see-all"><a href="#">Xem tất cả<i class="fa fa-chevron-right"></i></a></div>
    <div class="owl-carousel owl-theme home-item">
        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>
    </div>

    <div class="items-header">Sản phẩm mới</div>
    <div class="see-all"><a href="#">Xem tất cả<i class="fa fa-chevron-right"></i></a></div>
    <div class="owl-carousel owl-theme home-item">
        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>
    </div>

    <div class="items-header">Sản phẩm bán chạy</div>
    <div class="see-all"><a href="#">Xem tất cả<i class="fa fa-chevron-right"></i></a></div>
    <div class="owl-carousel owl-theme home-item">
        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="col-md-3 card">
                <div class="box">
                    <a href="Product-Single.html">
                        <img class="card-img" src="/assets/img/1.png">
                        <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                        <p class="price-tag">4.150.000đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
				$('.owl-loader').owlCarousel({
					loop:true,
					autoplay:true,
					autoplayTimeout:3000,
					autoWidth:false,
					loop:true,
					margin:10,
					nav:true,
					responsive:{
						0:{
							items:1
						},
						600:{
							items:1
						},
						1000:{
							items:1
						}
					}
				});

				$('.home-item').owlCarousel({
					center:true,
					autoWidth:false,
					loop:true,
					dots: false,
					nav:true,
					responsive:{
						0:{
							items:1
						},
						600:{
							items:2
						},
						1000:{
							items:4
						}
					}
				});

				$( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
 				$( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
    </script>
}