@{ 
    var session = (CyberShop.Common.UserInfo)Session[CyberShop.Common.CommonConstantUser.USER_SESSION];
    var sessionCheck = Session[CyberShop.Common.CommonConstantUser.USER_SESSION];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Header -->

    <header>
        <div class="wrapper" style="position: fixed;top: 0;width: 100%;">
            <div class="topnav" style="border-bottom: 1px solid #DCDCDC;">
                <div class="container">
                    <div style="display: inline-block;">
                        <a href="/Home" class="logo"><span><i class="fas fa-dragon"></i> Cyber</span>shop</a>
                        <div class="search-container">
                            <input type="text" placeholder="Tìm kiếm..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        @if (sessionCheck!=null)
                        {
                            <a href="#" style="max-width: 180px;margin-top: 13px; overflow:hidden;"><i class="fas fa-user-circle" style="margin-right: 10px;"></i>@session.HoTen</a>
                            <a href="/Home/Logout" style="margin-top: 13px"><i class="fas fa-sign-out-alt" style="margin-right: 10px"></i>Đăng xuất</a>
                        }
                        else
                        {
                            <a href="SignUp.html" style="margin-top: 13px"><i class="fas fa-user-plus" style="margin-right: 10px"></i>Đăng ký</a>
                            <a href="/Home/Login" style="margin-top: 13px"><i class="fas fa-user-circle" style="margin-right: 10px"></i>Đăng nhập</a>
                        }
                        <div class="cart">
                            <a href="#" style="margin-top: 13px"><i class="fas fa-shopping-cart" style="margin-right: 10px"><span class='badge badge-warning' id='lblCartCount'> 1 </span></i>Giỏ hàng</a>
                            <div class="dropdown-cart">
                                <div class="row Title">
                                    <div class="col-md-5 columm-1"><p>Tên</p></div>
                                    <div class="col-md-2 columm-2"><p>Số lượng</p></div>
                                    <div class="col-md-3 columm-3"><p>Giá</p></div>
                                    <div class="col-md-2 columm-4"><p>Tác vụ</p></div>
                                </div>
                                <div class="row Info">
                                    <img style="width: 50px;height:50px;margin-left: 10px;" src="img/1.png">
                                    <div class="col-md-4 columm-1"><a href="#">ROG Strix GeForce® GTX 1650 4GB GDDR5</a></div>
                                    <div class="col-md-2 columm-2" style="margin-left: 10px;"><p>1</p></div>
                                    <div class="col-md-3 columm-3"><p>4.150.000</p></div>
                                    <div class="col-md-1 columm-4" style="margin-top: -2px;"><a href="#"><i class="fas fa-trash action"></i></a></div>
                                </div>
                                <div class="row Total">
                                    <div class="col-md-12 Total-price"><p>Thành tiền: 4.150.000đ<button class="pay" href="#">Thanh toán</button></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="topnav" style="box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2)">
                <div class="container">
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fas fa-bars" style="margin-right: 10px;"></i>Danh mục sản phẩm</button>
                        <div class="dropdown-content">
                            <a href="#">Laptop</a>
                            <a href="#">Máy bộ CyberShop</a>
                            <a href="#">Linh kiện PC</a>
                            <a href="#">Màn hình</a>
                            <a href="#">Bàn phím</a>
                            <a href="#">Chuột + Lót chuột</a>
                            <a href="#">Tai nghe</a>
                            <a href="#">Loa</a>
                            <a href="#">Ghế gaming</a>
                            <a href="#">Phụ kiện</a>
                            <div class="more-content">
                                <div class="row more-content-items">
                                    <div class="col-md-3">
                                        Hãng Laptop
                                        <li><a href="#">Acer</a></li>
                                        <li><a href="#">Asus</a></li>
                                        <li><a href="#">MSI</a></li>
                                        <li><a href="#">Dell</a></li>
                                        <li><a href="#">HP</a></li>
                                    </div>
                                    <div class="col-md-3">
                                        Hãng RAM Laptop
                                        <li><a href="#">Corsair</a></li>
                                        <li><a href="#">Crucial</a></li>
                                        <li><a href="#">Adata</a></li>
                                        <li><a href="#">Team Elite</a></li>
                                        <li><a href="#">Kingston</a></li>
                                        <li><a href="#">Gskill</a></li>
                                    </div>
                                    <div class="col-md-3">
                                        Phụ kiện Laptop
                                        <li><a href="#">Đế tản nhiệt laptop</a></li>
                                        <li><a href="#">Ổ cứng di động</a></li>
                                        <li><a href="#">Balo</a></li>
                                        <li><a href="#">Túi chống sốc</a></li>
                                    </div>
                                    <div class="col-md-3">
                                        Laptop theo giá
                                        <li><a href="#">Dưới 10 triệu</a></li>
                                        <li><a href="#">trên 10 triệu dưới 20 triệu</a></li>
                                        <li><a href="#">trên 20 triệu dưới 30 triệu</a></li>
                                        <li><a href="#">trên 30 triệu</a></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#"><i class="far fa-file-alt" style="margin-right: 10px"></i>Kiểm tra bảo hành</a>
                    <a href="#"><i class="fas fa-gifts" style="margin-right: 10px"></i>Chương trình khuyến mãi</a>
                    <a href="#"><i class="fas fa-truck" style="margin-right: 10px"></i>Chính sách vận chuyển</a>
                    <a href="#"><i class="fas fa-tools" style="margin-right: 10px"></i>Chính sách bảo hành</a>
                    <a href="#"><i class="far fa-id-badge" style="margin-right: 10px"></i>về chúng tôi</a>
                </div>
            </div>
        </div>
    </header>
    <!--BODY -->
    @RenderBody()
    <!-- END BODY -->

    <!-- Footer -->
    <footer class="footer-distributed">
        <div class="container">
            <div class="footer-left">

                <a href="Product.html" class="logo col-md-12"><span><i class="fas fa-dragon"></i> Cyber</span>shop</a>

                <p class="footer-company-name">Copyrights &copy; 2020 by Cybershop</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fas fa-map-marker"></i>
                    <p>Địa chỉ cửa hàng<span style="line-height:1;"> 181 Lê Hồng Phong Phường 7 Quận 10 TP HCM</span><span>Thời gian làm việc: 08:30 – 21:30 | T2 – CN.</span></p>
                </div>

                <div>
                    <i class="fas fa-phone"></i>
                    <p>Số điện thoại liên lạc<span>+84777792670</span>
                </div>

                <div>
                    <i class="fas fa-envelope"></i>
                    <p>Email<span><a href="mailto:tranthaitat99@gmail.com">tranthaitat99@gmail.com</a></span></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>Mạng xã hội</span>
                    Các trang mạng xã hội là nơi được cập nhật những thông tin, video mới nhất từ shop chúng tôi
                </p>

                <div class="footer-icons">

                    <a href="https://www.facebook.com/Anticard99"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/" style="background: red;"><i class="fab fa-youtube"></i></a>
                </div>

            </div>
        </div>

    </footer>



    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>