
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var prdTypeList = new ProductTypeDao().ListProductType();
}
@using Data;
<section id="content" class="admin-content-container">
    <h3 style="margin: 20px;border-bottom: 1px solid #DCDCDC;padding-bottom: 16px;"><i class="fas fa-truck-loading" style="margin-right: 10px;"></i>Quản lý sản phẩm</h3>
    <div class="row" style="margin: 5px;">
        <div class="col-md-12 row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
            <div class="col-md-2">
                <p>Mã sản phẩm:</p>
                <input type="text" placeholder="Nhập mã sản phẩm..." id="product_id">
            </div>
            <div class="col-md-2">
                <p>Tên sản phẩm:</p>
                <input type="text" placeholder="Nhập tên sản phẩm..." id="product_name">
            </div>
            <div class="col-md-2">
                <p>Loại sản phẩm:</p>
                <select id="product_type" class="list-select">
                    <option value=""style="color:silver">Chọn loại sản phẩm</option>
                    @foreach (var item in prdTypeList)
                    {
                        <option value="@item.Id">@item.TypeName</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <p>Tên hãng</p>
                <input type="text" placeholder="Nhập tên hãng..." id="product_brand">
            </div>
            <div class="col-md-2">
                <p>Giá tiền từ:</p>
                <input type="text" placeholder="Nhập giá tiền từ..." id="product_priceFrom">
            </div>
            <div class="col-md-2">
                <p>Giá tiền đến:</p>
                <input type="text" placeholder="Nhập giá tiền đến..." id="product_priceTo">
            </div>
            <div class="col-md-12">

            </div>
        </div>

        <div class="col-md-12 product-action" style="padding-top: 10px;padding-bottom: 10px; text-align: left;">
            <button style="width: 200px;" data-toggle="modal" data-target="#ProductTypeModal"><i class="fab fa-buffer" style="margin-right: 10px;"></i>Quản lý loại SP</button>
            <button style="width: 200px;" data-toggle="modal" data-target="#BrandModal"><i class="fas fa-certificate" style="margin-right: 10px;"></i>Quản lý hãng</button>
            <button style="width: 200px;" type="button" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm sản phẩm</button>
            <button type="button" data-toggle="modal" data-target="#warningModal" class="delete"><i class="fas fa-trash"></i></button>
            <button style="width: 100px;" ng-click="FilterProduct()" onclick="UnCheck()">Lọc</button>
            
        </div>
        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Sản phẩm</div>
                <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                </div>
                <div class="admin-table" id="admin-table-best-sale" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 3%;" class="checkbox"><input type="checkbox" id="check-all" onchange="Check()"></th>
                                <th style="width: 6%;"><a href="#" ng-click="sortByProduct('id')">Id</a></th>
                                <th style="width: 35%;"><a href="#" ng-click="sortByProduct('ProductName')">Tên sản phẩm</a></th>
                                <th style="width: 13%;"><a href="#" ng-click="sortByProduct('ProductTypeName')">Loại sản phẩm</a></th>
                                <th style="width: 12%;"> <a href="#" ng-click="sortByProduct('BrandName')">Hãng sản phẩm</a></th>
                                <th style="width: 12%;"><a href="#" ng-click="sortByProduct('Price')">Giá tiền (VNĐ)</a></th>
                                <th style="width: 9%;"><a href="#" ng-click="sortByProduct('Amount')">Số lượng</a></th>
                                <th style="width: 20%;"><a href="#">Hoạt động</a></th>
                            </tr>
                        </thead>
                        <tbody id="items-table">
                            <tr ng-repeat="item in productList">
                                <td class="checkbox"><input type="checkbox" onchange="CheckItem()"></td>
                                <td>{{item.id}}</td>
                                <td>{{item.ProductName}}</td>
                                <td>{{item.ProductTypeName}}</td>
                                <td>{{item.BrandName}}</td>
                                <td>{{item.Price | currency:"":0}}</td>
                                <td>{{item.Amount}}</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#myEditModal" ng-click="returnProductId(item.id)"><i class="fas fa-edit"></i></button><button class="delete" data-toggle="modal" data-target="#warningModal"><i class="fas fa-trash"></i></button></td>
                            </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Lịch sử nhập</div>
                <div class="progress-container">
                    <div class="progress-bar" id="newBar"></div>
                </div>
                <div class="admin-table" id="admin-table-new-customers" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 30%;"><a href="#">Tên sản phẩm</a></th>
                                <th style="width: 20%;"><a href="#">Loại sản phẩm</a></th>
                                <th style="width: 20%;"><a href="#">Số lượng</a></th>
                                <th style="width: 20%;"><a href="#">Tổng thanh toán</a></th>
                                <th style="width: 20%;"><a href="#">Thời gian</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstHistory">
                                <td>{{item.ProductName}}</td>
                                <td>{{item.ProductTypeName}}</td>
                                <td>{{item.Amount}}</td>
                                <td>{{item.TotalPrice | currency:"":0}}</td>
                                <td>{{item.CreateDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm sản phẩm mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                        <div class="col-md-4">
                            <p>Tên sản phẩm:</p>
                            <input type="text" placeholder="Nhập tên sản phẩm...">
                        </div>
                        <div class="col-md-4">
                            <p>Loại sản phẩm:</p>
                            <select class="list-select">
                                <option value="">VGA</option>
                                <option value="">SSD</option>
                                <option value="">HDD</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Hãng:</p>
                            <select class="list-select">
                                <option value="">Asus</option>
                                <option value="">Gigabyte</option>
                                <option value="">Xigmatek</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <p>Giá bán:</p>
                            <input type="text" placeholder="Nhập giá tiền...">
                        </div>
                        <div class="col-md-4">
                            <p>Số lượng:</p>
                            <input type="text" placeholder="Nhập số lượng...">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Mô tả (Google Doc):</p>
                            <input type="text" placeholder="Nhập link Google Doc...">
                        </div>
                        <div class="col-md-4" style="text-align: left;">
                            <p>Giá mua:</p>
                            <input type="text" placeholder="Nhập giá tiền...">
                        </div>
                        <div class="col-md-8" style="text-align: center;">
                            <input type="file" id="myFile1" style="display: none;" accept="image/*" multiple>
                            <button onclick="upload()"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm hình ảnh</button>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                            <p>Danh sách hình ảnh chi tiết sản phẩm:</p>
                            <div class="Box" style="padding: 0;margin-top: 10px;">
                                <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;text-align: center;"><a href="#">Ảnh chính</a></th>
                                                <th style="width: 45%;"><a href="#">Tên hình ảnh</a></th>
                                                <th style="width: 30%;"><a href="#">Hình ảnh</a></th>
                                                <th style="width: 5%;text-align: center;"><a href="#">Xóa</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                                <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="img/1.png"></td>
                                                <td style="text-align: center;"><a href="#"><i class="fas fa-times"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                                <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="img/1.png"></td>
                                                <td style="text-align: center;"><a href="#"><i class="fas fa-times"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                                <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="img/1.png"></td>
                                                <td style="text-align: center;"><a href="#"><i class="fas fa-times"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                                <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="img/1.png"></td>
                                                <td style="text-align: center;"><a href="#"><i class="fas fa-times"></i></a></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button">Thêm</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sửa sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                    <div class="col-md-4">
                        <p>Tên sản phẩm:</p>
                        <input type="text" placeholder="Nhập tên sản phẩm...">
                    </div>
                    <div class="col-md-4">
                        <p>Loại sản phẩm:</p>
                        <select class="list-select">
                            <option value="">VGA</option>
                            <option value="">SSD</option>
                            <option value="">HDD</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <p>Hãng:</p>
                        <select class="list-select">
                            <option value="">Asus</option>
                            <option value="">Gigabyte</option>
                            <option value="">Xigmatek</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <p>Giá bán:</p>
                        <input type="text" placeholder="Nhập giá tiền...">
                    </div>
                    <div class="col-md-4">
                        <p>Số lượng:</p>
                        <input type="text" placeholder="Nhập số lượng...">
                    </div>
                    <div class="col-md-4" style="text-align: left;">
                        <p>Mô tả (Google Doc):</p>
                        <input type="text" placeholder="Nhập link Google Doc...">
                    </div>
                    <div class="col-md-4" style="text-align: left;">
                        <p>Giá mua:</p>
                        <input type="text" placeholder="Nhập giá tiền...">
                    </div>
                    <div class="col-md-2" style="text-align: center;margin-right:20px;">
                        <input type="file" name="file" id="myFile2" style="display:none;" accept="image/*" multiple>
                        <button onclick="turnUpload()"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm hình ảnh</button>
                    </div>
                    <div class="col-md-2">
                        <button id="rsFile" onclick="resetFile()">Reset</button>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="UploadFiles()">Submit</button>
                    </div>
                    <div class="col-12">
                        <div id="preview"></div>
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                        <p>Danh sách hình ảnh chi tiết sản phẩm:</p>
                        <div class="Box" style="padding: 0;margin-top: 10px;">
                            <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;text-align: center;"><a href="#">Ảnh chính</a></th>
                                            <th style="width: 45%;"><a href="#">Tên hình ảnh</a></th>
                                            <th style="width: 30%;"><a href="#">Hình ảnh</a></th>
                                            <th style="width: 5%;text-align: center;"><a href="#">Xóa</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                            <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                            <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="img/1.png"></td>
                                            <td style="text-align: center;"><a href="#"><i class="fas fa-times"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                            <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                            <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="img/1.png"></td>
                                            <td style="text-align: center;"><a href="#"><i class="fas fa-times"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                            <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                            <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="img/1.png"></td>
                                            <td style="text-align: center;"><a href="#"><i class="fas fa-times"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                            <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                            <td style="text-align: center;"><img style="max-width: 150px;max-height:150px;" src="img/1.png"></td>
                                            <td style="text-align: center;"><a href="#"><i class="fas fa-times"></i></a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button">Xác nhận</button>
                <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="ProductTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quản lý loại SP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                    <div class="col-md-4">
                        <p>Tên loại SP:</p>
                        <input type="text" placeholder="Nhập tên loại sản phẩm..." id="txt_Type">
                    </div>
                    <div class="col-md-4">
                        <p>từ khóa:</p>
                        <input type="text" placeholder="Nhập từ khóa..." id="txt_Type_MetaTitle">
                    </div>
                    <div class="col-md-4">
                        <button ng-click="AddType()"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm</button>
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                        <p>Danh sách các loại SP:</p>
                        <div class="Box" style="padding: 0;margin-top: 10px;">
                            <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;text-align: center;"><a href="#" ng-click="sortTypeBy('id')">Id</a></th>
                                            <th style="width: 35%;text-align: center;"><a href="#" ng-click="sortTypeBy('TypeName')">Tên loại SP</a></th>
                                            <th style="width: 40%;text-align: center;"><a href="#" ng-click="sortTypeBy('MetaTitle')">Từ khóa</a></th>
                                            <th style="width: 15%;text-align: center;"><a href="#">Hành động</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in productTypeList | orderBy:PTypeName:reverseType">
                                            <td style="text-align:center">{{item.id}}</td>
                                            <td style="text-align:center">{{item.TypeName}}</td>
                                            <td style="text-align:center">{{item.MetaTitle}}</td>
                                            <td style="text-align: center;"><a href="#" ng-click="DeleteType(item.id)"><i class="fas fa-times"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
    </div>


    <div class="modal fade" id="BrandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quản lý hãng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
                    <div class="col-md-4">
                        <p>Tên hãng:</p>
                        <input type="text" placeholder="Nhập tên hãng..." id="txt_Brand">
                    </div>
                    <div class="col-md-4">
                        <p>Từ khóa:</p>
                        <input type="text" placeholder="Nhập từ khóa..." id="txt_Brand_MetaTitle">
                    </div>
                    <div class="col-md-4">
                        <button ng-click="AddBrand()"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm</button>
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                    <p>Danh sách các hãng:</p>
                    <div class="Box" style="padding: 0;margin-top: 10px;">
                        <div class="admin-table modal-table" id="admin-table-best-sale" style="height: 325px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 10%;text-align: center;"><a href="#" ng-click="sortBrandBy('id')">Id</a></th>
                                        <th style="width: 40%;text-align: center;"><a href="#" ng-click="sortBrandBy('BrandName')">Tên hãng</a></th>
                                        <th style="width: 40%;text-align: center;"><a href="#" ng-click="sortBrandBy('MetaTitle')">Từ khóa</a></th>
                                        <th style="width: 10%;text-align: center;"><a href="#">Hành động</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in brandList | orderBy:BrandName:reverseBrand">
                                        <td style="text-align:center">{{item.id}}</td>
                                        <td style="text-align:center">{{item.BrandName}}</td>
                                        <td style="text-align:center">{{item.MetaTitle}}</td>
                                        <td style="text-align:center;"><a href="#" ng-click="DeleteBrand(item.id)"><i class="fas fa-times"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
    </div>




    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cảnh báo !!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn chắc chắn muốn xóa chứ ?
                </div>
                <div class="modal-footer">
                    <button type="button">Xóa</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    Active = document.getElementById("ProductManager");
    Active.className = "active-button"

    CheckAll = document.getElementById("check-all");
    table = document.getElementById("items-table");
    ItemCheckBox = table.getElementsByTagName("input");

    function UnCheck() {
        CheckAll.checked = false;
        Check();
    }
    
    function Check() {
        if (CheckAll.checked == true) {
            for (i = 0; ItemCheckBox.length > i; i++) {
                if (ItemCheckBox[i].type == 'checkbox')
                    ItemCheckBox[i].checked = true;
            }
        } else {
            for (i = 0; ItemCheckBox.length > i; i++) {
                if (ItemCheckBox[i].type == 'checkbox')
                    ItemCheckBox[i].checked = false;
            }
        }
    }

    function CheckItem() {
        n = 0;
        for (i = 0; ItemCheckBox.length > i; i++) {
            if (ItemCheckBox[i].type == 'checkbox')
                if (ItemCheckBox[i].checked == false) {
                    CheckAll.checked = false;
                    n = n + 1;
                } else if (n == 0) {
                    CheckAll.checked = true;
                }
        }
    }
</script>
<script>
        function previewImages() {

            var preview = document.querySelector('#preview');

            if (this.files) {
                [].forEach.call(this.files, readAndPreview);
            }

            function readAndPreview(file) {

                // Make sure `file.name` matches our extensions criteria
                if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                    return alert(file.name + " is not an image");
                } // else...

                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    var image = new Image();
                    image.height = 100;
                    image.title = file.name;
                    image.src = this.result;
                    preview.appendChild(image);
                });

                reader.readAsDataURL(file);
            }

        }
        document.querySelector('#myFile2').addEventListener("change", previewImages);
        function resetFile() {
            document.getElementById("myFile2").value = "";
            document.getElementById("preview").innerHTML = "";
        }
        function turnUpload() {
            document.getElementById("myFile2").click();
        }
</script>
@section scripts{

        }
