
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section id="content" class="admin-content-container">
    <h3 style="margin: 20px;border-bottom: 1px solid #DCDCDC;padding-bottom: 16px;"><i class="fas fa-tools" style="margin-right: 10px;"></i>Quản lý bảo hành</h3>
    <div class="row" style="margin: 5px;">
        <div class="col-md-12 row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
            <div class="col-md-2">
                <p>Mã hóa đơn:</p>
                <input type="text" placeholder="Nhập mã hóa đơn...">
            </div>
            <div class="col-md-2">
                <p>Thời gian từ:</p>
                <input type="date">
            </div>
            <div class="col-md-2">
                <p>Thời gian đến:</p>
                <input type="date">
            </div>
            <div class="col-md-2">
                <p>Tên khách hàng:</p>
                <input type="text" placeholder="Nhập tên khách hàng...">
            </div>
            <div class="col-md-2">
                <p>Số điện thoại:</p>
                <input type="text" placeholder="Nhập số điện thoại...">
            </div>
        </div>

        <div class="col-md-12 product-action" style="padding-top: 10px;padding-bottom: 10px; text-align: left;">
            <button style="width: 100px;">Lọc</button>
        </div>
        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Danh sách hóa đơn</div>
                <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                </div>
                <div class="admin-table" id="admin-table-best-sale" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 3%;"><a href="#"></a></th>
                                <th style="width: 7%;"><a href="#">Mã hóa đơn</a></th>
                                <th style="width: 10%;"><a href="#">Tên khách hàng</a></th>
                                <th style="width: 45%;"><a href="#">Địa chỉ</a></th>
                                <th style="width: 10%;"><a href="#">Số điện thoại</a></th>
                                <th style="width: 10%;"><a href="#">Ngày xuất</a></th>
                                <th style="width: 15%;"><a href="#">Hành động</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>70 Lê Hồng Phong</td>
                                <td>0904932368</td>
                                <td>6/17/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#myModal"><i class="fas fa-eye"></i></button></td>
                            </tr>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>70 Lê Hồng Phong</td>
                                <td>0904932368</td>
                                <td>6/17/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#myModal"><i class="fas fa-eye"></i></button></td>
                            </tr>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>70 Lê Hồng Phong</td>
                                <td>0904932368</td>
                                <td>6/17/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#myModal"><i class="fas fa-eye"></i></button></td>
                            </tr>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>70 Lê Hồng Phong</td>
                                <td>0904932368</td>
                                <td>6/17/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#myModal"><i class="fas fa-eye"></i></button></td>
                            </tr>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>70 Lê Hồng Phong</td>
                                <td>0904932368</td>
                                <td>6/17/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#myModal"><i class="fas fa-eye"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">
            <div class="col-md-2">
                <p>Mã hóa đơn:</p>
                <input type="text" placeholder="Nhập mã hóa đơn...">
            </div>
            <div class="col-md-2">
                <p>Thời gian từ:</p>
                <input type="date">
            </div>
            <div class="col-md-2">
                <p>Thời gian đến:</p>
                <input type="date">
            </div>
            <div class="col-md-2">
                <p>Tên khách hàng:</p>
                <input type="text" placeholder="Nhập tên khách hàng...">
            </div>
            <div class="col-md-2">
                <p>Số điện thoại:</p>
                <input type="text" placeholder="Nhập số điện thoại...">
            </div>
            <div class="col-md-2">
                <p>Tình trạng:</p>
                <select>
                    <option value="">Đã hoàn tất</option>
                    <option value="">Đang bảo hành</option>
                </select>
            </div>
        </div>

        <div class="col-md-12 product-action" style="padding-top: 10px;padding-bottom: 10px; text-align: left;">
            <button style="width: 100px;">Lọc</button>
        </div>
        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Danh sách sản phẩm bảo hành</div>
                <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                </div>
                <div class="admin-table" id="admin-table-best-sale" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 3%;"><a href="#"></a></th>
                                <th style="width: 7%;"><a href="#">Mã hóa đơn</a></th>
                                <th style="width: 10%;"><a href="#">Tên khách hàng</a></th>
                                <th style="width: 25%;"><a href="#">SP bảo hành</a></th>
                                <th style="width: 10%;"><a href="#">Số điện thoại</a></th>
                                <th style="width: 20%;"><a href="#">Tình trạng</a></th>
                                <th style="width: 10%;"><a href="#">Ngày bảo hành</a></th>
                                <th style="width: 15%;"><a href="#">Hành động</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                <td>0904932368</td>
                                <td>Đang bảo hành</td>
                                <td>6/20/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#confirmModal"><i class="fas fa-check"></i></button></td>
                            </tr>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                <td>0904932368</td>
                                <td>Đang bảo hành</td>
                                <td>6/20/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#confirmModal"><i class="fas fa-check"></i></button></td>
                            </tr>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                <td>0904932368</td>
                                <td>Đang bảo hành</td>
                                <td>6/20/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#confirmModal"><i class="fas fa-check"></i></button></td>
                            </tr>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                <td>0904932368</td>
                                <td>Đang bảo hành</td>
                                <td>6/20/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="confirmModal"><i class="fas fa-check"></i></button></td>
                            </tr>
                            <tr>
                                <td class="checkbox"><input type="checkbox" value=""></td>
                                <td>#1</td>
                                <td>Trần Thái Đạt</td>
                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                <td>0904932368</td>
                                <td>Đang bảo hành</td>
                                <td>6/20/2020</td>
                                <td class="table-product-action"><button data-toggle="modal" data-target="#confirmModal"><i class="fas fa-check"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Bảo hành</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="row product-input" style="padding-top: 10px;padding-bottom: 10px; text-align: center;">

                        <div class="col-md-6 info">
                            <p>Mã hóa đơn: <span>#1</span></p>
                            <p>Họ và tên: <span>Trần Thái Đạt</span></p>
                            <p>Số điện thoại: <span>0904932368</span></p>
                        </div>
                        <div class="col-md-6 info">
                            <p>Địa chỉ: <span>70 Lê Hồng Phong</span></p>
                            <p>Tình trạng: <span>Đã hoàn tất</span></p>
                            <p>Ngày xuất: <span>6/17/2020</span></p>
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                            <p>Sản phẩm trong hóa đơn: (chọn SP cần bảo hành)</p>
                            <div class="Box" style="padding: 0;margin-top: 10px;">
                                <div class="admin-table modal-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 5%;text-align: center;"><a href="#">Chọn</a></th>
                                                <th style="width: 45%;"><a href="#">Tên hình ảnh</a></th>
                                                <th style="width: 30%;"><a href="#">Bảo hành</a></th>
                                                <th style="width: 30%;"><a href="#">Tình trạng</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                                <td>6/17/2020 -> 6/17/2023</td>
                                                <td>Còn bảo hành</td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                                <td>6/17/2020 -> 6/17/2023</td>
                                                <td>Còn bảo hành</td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                                <td>6/17/2020 -> 6/17/2023</td>
                                                <td>Còn bảo hành</td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox"><input type="radio" value="" name="Selected"></td>
                                                <td>ROG Strix GeForce® GTX 1650 4GB GDDR5</td>
                                                <td>6/17/2020 -> 6/17/2023</td>
                                                <td>Còn bảo hành</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button">Bảo hành</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cảnh báo !!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn chắc chắn muốn xóa chứ ?
                </div>
                <div class="modal-footer">
                    <button type="button">Xóa</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn chắc chắn muốn xác nhận bảo hành hoàn tất?
                </div>
                <div class="modal-footer">
                    <button type="button">Yes</button>
                    <button type="button" class="second-btn" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>


</section>

<script>
    Active = document.getElementById("WarrantyManager");
    Active.className = "active-button"
</script>

