@model List<Data.Product>
@{
    ViewBag.Title = "Sản phẩm Cybershop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session.Add(CyberShop.Common.CommonConstantUser.URL_REFERRER,Request.Url);
}
<!-- List sản phẩm -->

<section class="container" style="padding-top: 160px; padding-bottom: 50px;">
    <h3><i class="fas fa-bars" style="margin-right: 10px"></i>Tất cả sản phẩm</h3>
    <ul class="breadcrumb Page-address">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home" style="margin-right: 10px"></i>Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Linh kiện PC</a></li>
        <li class="breadcrumb-item active">Tất cả sản phẩm</li>
    </ul>
    <div class="sort">
        <button  ng-click="sortBy = '+Price'" class="clickDo active">Giá tăng dần</button>
        <button  ng-click="sortBy = '-Price'" class="clickDo">Giá giảm dần</button>
        <button  ng-click="sortBy = '+ProductName'" class="clickDo">A -> Z</button>
        <button  ng-click="sortBy ='-ProductName'" class="clickDo">Z -> A</button>
        <button  ng-click="sortBy ='-CreateDate'" class="clickDo">Mới nhất</button>
        <button  ng-click="sortBy ='+CreateDate'" class="clickDo">Cũ nhất</button>
    </div>

    <div>
        <div class="row">
            <div class="col-md-3 card" ng-repeat="item in data | orderBy: sortBy">
                <div class="box">
                    <a href="/Home/DetailProduct/{{item.id}}">
                        <input type="hidden" value="{{item.id}}"/>
                        <img class="card-img" ng-src="{{ item.Image }}">
                        <h6>{{ item.ProductName }}</h6>
                        <p class="price-tag">{{ item.Price | currency : "" : 0 }}đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                        <button ng-click="AddItem(item.id)" class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
             </div>
        </div>
    </div>
    @*<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 card">
                <div class="box">
                    <a href="/Home/DetailProduct/@item.id">
                        <img class="card-img" src="@item.Image">
                        <h6>@item.ProductName</h6>
                        <p class="price-tag">@string.Format("{0:#,##0}", @item.Price)đ</p>
                        <p class="status">Tình trạng: còn hàng</p>
                    </a>
                    <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
                </div>
            </div>
        }*@

        <!-- Mẫu sale -->

        <div class="col-md-3 card">
            <div class="box">
                <span class="sale">-5%</span>
                <a href="Product-Single.html">
                    <img class="card-img" src="img/1.png">
                    <h6>ROG Strix GeForce® GTX 1650 4GB GDDR5</h6>
                    <p class="price-tag"><span class="old-price">4.150.000đ</span>4.150.000đ</p>
                    <p class="status">Tình trạng: còn hàng</p>
                </a>
                <button class="Add"><i class="fas fa-shopping-cart" style="margin-right: 10px"></i>Thêm vào giỏ</button>
            </div>
        </div>
    </div>

    <div class="pagination col-md-12">
        <a href="#"><i class="fas fa-angle-double-left"></i></a>
        <a href="#"><i class="fas fa-angle-left"></i></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#"><i class="fas fa-angle-right"></i></a>
        <a href="#"><i class="fas fa-angle-double-right"></i></a>
    </div>
</section>

@section scripts{
    <script>
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $http) {
            $http.get("/Product/SanPham").then(function (res, status, xhr) {
                $scope.data = res.data;
            });
            $scope.FetchCart=function()
            {
                $http.get("/Cart/ReturnCartItem").then(function (response) {
                    $scope.cartList = response.data;
                });
            }
            $scope.bucket = { total_amount: 0 };
            $scope.FetchCart();
            $scope.AddItem = function (id) {
                $http.get("/Cart/AddItem/" + id).then(function (response) {
                    $scope.FetchCart();
                });
            }
            $scope.sortBy = '+Price';
        });
        
        var x = document.getElementsByClassName("clickDo");

        for (var i = 0; i < x.length; i++) {
            x[i].addEventListener("click", function () {
                for (var j = 0; j < x.length; j++)
                    x[j].className = "clickDo";
                this.className += " active";
            });
        }
    </script>
}