
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section id="content" class="admin-content-container">
    <h3 style="margin: 20px;border-bottom: 1px solid #DCDCDC;padding-bottom: 16px;"><i class="fas fa-chart-area" style="margin-right: 10px;"></i>Thống kê</h3>
    <div class="row" style="margin: 5px;">
        <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box">
                <div class="icon"><i class="fas fa-dollar-sign"></i></div>
                <p class="unit">{{turnOver | currency:"":0}} VNĐ</p>
                <p class="box-title">Tổng doanh thu</p>
            </div>
        </div>
        <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box">
                <div class="icon"><i class="fas fa-users"></i></div>
                <p class="unit" id="unit-1">{{UserAmount}}</p>
                <p class="box-title">Tổng số khách hàng</p>
            </div>
        </div>
        <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box">
                <div class="icon"><i class="fas fa-boxes"></i></div>
                <p class="unit">{{totalProductSell}}</p>
                <p class="box-title">Tổng số sản phẩm bán được</p>
            </div>
        </div>
        <div class="col-md-8" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title">Doanh thu năm 2020</div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Sản phẩm bán chạy</div>
                <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                </div>
                <div class="admin-table" id="admin-table-best-sale">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 50%;"><a href="javascript:void(0);" ng-click="sortByBestSeller('ProductName')">Tên sản phẩm</a></th>
                                <th style="width: 20%;"><a href="javascript:void(0);" ng-click="sortByBestSeller('SellAmount')">Số lượng</a></th>
                                <th style="width: 30%;"><a href="javascript:void(0);" ng-click="sortByBestSeller('Price')">Giá tiền (VNĐ)</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstBestSeller">
                                <td>{{item.ProductName}}</td>
                                <td>{{item.SellAmount}}</td>
                                <td>{{item.Price | currency:"":0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="Box" style="padding: 0;">
                <div class="chart-title" style="height: 55px;">Giao dịch mới</div>
                <div class="progress-container">
                    <div class="progress-bar" id="newBar"></div>
                </div>
                <div class="admin-table" id="admin-table-new-customers" style="height: 500px;">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 23%;"><a href="javascript:void(0);" ng-click="sortByNewDeal('CustomerName')">Tên khách hàng</a></th>
                                <th style="width: 10%;"><a href="javascript:void(0);" ng-click="sortByNewDeal('DeliveryPhoneNum')">SĐT</a></th>
                                <th style="width: 33%;"><a href="javascript:void(0);" ng-click="sortByNewDeal('DeliveryAddress')">Địa chỉ</a></th>
                                <th style="width: 20%;"><a href="javascript:void(0);" ng-click="sortByNewDeal('Total')">Tổng thanh toán</a></th>
                                <th style="width: 14%;"><a href="javascript:void(0);" ng-click="sortByNewDeal('PurchaseDate')">Thời gian mua</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstNewDeal">
                                <td>{{item.CustomerName}}</td>
                                <td>{{item.DeliveryPhoneNum}}</td>
                                <td>{{item.DeliveryAddress}}</td>
                                <td>{{item.Total | currency:"":0}}</td>
                                <td>{{item.PurchaseDate.slice(6, -2) | date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        Active = document.getElementById("SummaryManager");
        Active.className = "active-button";
        $(document).ready(function () {
            Resize();
        });
        function Resize() {
            $(document).ready(function () {
                    $("#admin-table-best-sale").css({
                        'height': ($("#myChart").height() + 'px')
                    });
            });
        }

    //var ctx = document.getElementById("myChart");
	//		ctx.style = "-webkit-tap-highlight-color: transparent;";
	//		Chart.defaults.global.defaultFontFamily = 'Oswald';
	//		Chart.defaults.global.defaultFontSize = 14;
	//		var myChart = new Chart(ctx, {
	//			type: 'line',
	//			data: {
	//				labels: ["T1", "T2", "T3", "T4", "T5", "T6","T7","T8","T9","T10","T11","T12"],
	//				datasets: [{ 
	//					label: 'Triệu VNĐ',
	//					data: $scope.chartData,
	//					backgroundColor: [
	//					'rgba(30, 144, 255, 0.5)',
	//					'rgba(30, 144, 255, 0.5)',
	//					'rgba(30, 144, 255, 0.5)',
	//					'rgba(30, 144, 255, 0.5)',
	//					'rgba(30, 144, 255, 0.5)',
	//					'rgba(30, 144, 255, 0.5)'
	//					],
	//					borderColor: [
	//					'rgba(30, 144, 255,1)',
	//					'rgba(30, 144, 255, 1)',
	//					'rgba(30, 144, 255, 1)',
	//					'rgba(30, 144, 255, 1)',
	//					'rgba(30, 144, 255, 1)',
	//					'rgba(30, 144, 255, 1)'
	//					],
	//					borderWidth: 2,
	//				}]
	//			},
	//			options: {
	//				scales: {
	//					yAxes: [{
	//						ticks: {
	//							beginAtZero:true,
								
	//						}
	//					}]
	//				}
	//			}
	//		});
      </script>
    }
